---
import { classes } from '@/utils';
import Link from './Link.astro';
import SocialLinks from './SocialLinks.astro';

import { hashTags, externalLinks } from '@/constants';
---

<footer
  id={hashTags.footer}
  class={classes(`
    py-12 grid place-items-center
  `)}
>
  <SocialLinks direction="horizontal" class="mb-4 flex sm:hidden" />
  <p>
    <Link href={externalLinks.githubRepo} color="secondary">Source code</Link> of this website
  </p>
</footer>
