---
---

<a href="#main"> Skip to main content</a>

<style lang="scss">
  a {
    padding: 1em 2em;
    position: fixed;
    left: 10px;
    top: -100px;
    display: inline-block;

    color: var(--secondary);
    background-color: var(--primary);
    font-weight: var(--font-weight-bold);

    border-radius: 2.5px;
    outline: none;
    z-index: var(--z-index-tooltip) + 1;

    &:focus {
      top: 10px;
    }

    @media print {
      display: none;
    }
  }
</style>
