---
import FocusDashedOutline from './FocusDashedOutline.astro';
import { socialProfiles } from '../constants/socialProfiles';

export interface Props {
  direction: 'horizontal' | 'vertical';
}

const { direction } = Astro.props;
---

<FocusDashedOutline>
  <ul class={`layout-${direction}`}>
    {
      socialProfiles.map((socialProfile) => (
        <li>
          <a href={socialProfile.link} title={socialProfile.title}>
            <socialProfile.Icon width="1.25rem" height="1.25rem" />
          </a>
        </li>
      ))
    }
  </ul>
</FocusDashedOutline>

<style>
  ul {
    display: flex;
    gap: 1.5rem;
    align-items: center;

    list-style: none;
  }

  ul.layout-horizontal {
    flex-direction: row;
  }

  ul.layout-vertical {
    flex-direction: column;
  }

  li {
    font-size: 0;
  }

  a {
    display: inline-block;
    font-size: 0;
    color: var(--text);
    fill: var(--text);
  }

  a:is(:hover, :focus) {
    color: var(--accent);
    fill: var(--accent);
  }
</style>
