---
import type { HTMLAttributes } from 'astro/types';
import Link from '../Link.astro';
import Span from '../typography/span.astro';
import { defaultNavItems, type NavItem } from './navItems';

interface Props extends HTMLAttributes<'nav'> {
  navItems?: NavItem[];
}

const { navItems = defaultNavItems, ...props } = Astro.props;
---

<nav {...props} aria-label="external and internal links related to me">
  <slot name="start-item" />
  {
    navItems.map((navItem) => (
      <Link href={navItem.link} rel="prefetch">
        <Span variant="h6">{navItem.text}</Span>
      </Link>
    ))
  }
</nav>
