.btn {
  padding-block: 0.75em;
  padding-inline: 2em;

  display: inline-block;

  border: none;
  border-radius: var(--radius-xl);

  transition: box-shadow 200ms var(--ease-in-out);

  text-align: center;
  text-transform: uppercase;

  cursor: pointer;

  &:hover,
  &:focus-visible {
    box-shadow: var(--shadow-2xl) var(--color-primary);
  }
}

.btn-primary {
  background: var(--color-primary);
  color: var(--color-secondary);
}

.btn-secondary {
  background: var(--color-secondary);
  color: var(--color-bright);
}
