---
import { type HTMLAttributes } from 'astro/types';
import type * as CSS from 'csstype';

export interface Props extends HTMLAttributes<'svg'> {
  textStyle?: CSS.Properties<string | number>;
}

// eslint-disable-next-line @typescript-eslint/no-unused-vars
const { viewBox, xmlns, textStyle, ...props } = Astro.props;
---

<svg
  xmlns="http://www.w3.org/2000/svg"
  viewBox="-5 -5 210 210"
  stroke="currentColor"
  stroke-width="10"
  stroke-linecap="round"
  stroke-linejoin="round"
  {...props}
>
  <title>Logo</title>
  <polygon points="100,2 2,50 2,150 100,198 198,150 198,50 100,2" fill="transparent"></polygon>
  <text
    x="45"
    y="135"
    stroke-width="2"
    fill="currentColor"
    style={{ color: 'currentColor', fontSize: 88, ...textStyle }}
  >
    RV
  </text>
</svg>
