---
import BaseLayout from './BaseLayout.astro';
import SkipToMainContent from '@/components/SkipToMainContent.astro';
import AppBar from '@/components/navigation/AppBar.astro';
import SocialLinksAside from '@/components/SocialLinksAside.astro';
import EmailAddressAside from '@/components/EmailAddressAside.astro';
import Footer from '@/components/Footer.astro';

import { hashTags } from '@/constants';
import type { NavItem } from '@/components/navigation/navItems';

interface Props {
  title?: string;
  description?: string;
  navItems?: NavItem[];
}

const defaultTitle = 'Vighnesh Raut - the man, the myth, the living legend himself';
const defaultDescription =
  'Vighnesh is a Software Engineer who specializes in building exceptional software ' +
  'tools. He is fascinated by Physics, Mathematics and Computer Science. When bored, ' +
  'you can find him watching Pokémon on his bed';

const { title = defaultTitle, description = defaultDescription, navItems } = Astro.props;
---

<BaseLayout title={title} description={description}>
  <SkipToMainContent />
  <AppBar navItems={navItems} />
  <SocialLinksAside />
  <EmailAddressAside />

  <main id={hashTags.main} class="px-8 pb-8">
    {/* pt-[0.05px] prevents collapsing margins in child components */}
    <div class="my-auto max-w-[1400px] px-4 pt-[0.05px] sm:px-20">
      <slot />
    </div>
    <Footer />
  </main>
</BaseLayout>
