---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Page not found" description="Lost? Head over to vighnesh153.dev">
  <main class="loading">
    <h1>404: Not found</h1>
  </main>
</BaseLayout>

<style lang="scss">
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;

    &.loading {
      display: none;
    }
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
</style>

<script>
  import { removeTrailingSlashFromUrlPathName } from '@/utils';

  const rawUrl = window.location.toString();
  const filteredUrl = removeTrailingSlashFromUrlPathName(rawUrl);

  if (filteredUrl !== rawUrl) {
    window.location.replace(filteredUrl);
  } else {
    document.querySelector('main')?.classList.remove('loading');
  }
</script>
