---
import BaseLayout from '@/layouts/BaseLayout.astro';
import { UploadManager } from '@/components/solid';
import { classes } from '@/utils';
---

<BaseLayout title="Playground" description="A playground page for different components.">
  <div
    class={classes(`
    w-full h-dvh
    px-20
    max-w-[800px]
    mx-auto
    
    flex flex-col 
    items-center justify-center 
    gap-2

  `)}
  >
    <UploadManager client:load />
  </div>
</BaseLayout>

<!-- <script>
  document.dir = 'rtl';
</script> -->
