---
import ContentLayout from '@/layouts/ContentLayout.astro';

const description = 'Bla';
---

<ContentLayout title="Vighnesh Raut - Blog" description={description}>
  <div class="mt-96"></div>
  <ul>
    <li><a href="/blog/playground">Post 1</a></li>
  </ul>
</ContentLayout>
