cypress/screenshots
cypress/videos

open-ai-image.png
random-animal-image.png
random-joke-image.png
random-quote-image.png
random-quote-image-text.png
random-quote-image-updated.png
random-word-image.png
sample.png
