---
import { classes, hashTags } from "@/utils/index.ts";
import SocialLinks from "./SocialLinks.astro";

import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"footer"> {}

const { class: className, id, ...props } = Astro.props;
---

<footer
  id={hashTags.footer}
  class={classes(className, `py-12 grid place-items-center scroll-mt-8`)}
  {...props}
>
  <SocialLinks direction="horizontal" class="mb-4 flex sm:hidden" />
  <p>
    <slot />
  </p>
</footer>
