---
import Layout from '@/layouts/Layout.astro';
import SkipToMainContent from '@/components/SkipToMainContent.astro';
import SocialLinksAside from '@/components/SocialLinksAside.astro';
import EmailAddressAside from '@/components/EmailAddressAside.astro';
import IntroductionSection from '@/components/homepage/IntroductionSection.astro';
import { homePage } from '@/constants';

const title = 'Vighnesh Raut - the man, the myth, the living legend himself';
const description =
  'Vighnesh is a Software Engineer who specializes in building exceptional web ' +
  'interfaces. He also loves to dabble with Physics and Mathematics. When bored, ' +
  'you can find him watching Netflix on his bed';
---

<Layout title={title} description={description}>
  <SkipToMainContent />
  <SocialLinksAside />
  <EmailAddressAside />

  <main id={homePage.hashTags.main}>
    <div>
      <IntroductionSection />
    </div>
  </main>
</Layout>

<style lang="scss">
  @import '@/styles/breakpoints-media.css';

  main {
    padding: 0 2rem;
  }

  main > div {
    margin-inline: auto;
    max-width: 1200px;

    @media (--sm) {
      padding-inline: 2rem;
    }

    @media (--md-and-up) {
      padding-inline: 4rem;
    }
  }
</style>
