---
import Layout from '../layouts/Layout.astro';
import SocialLinks from '../components/SocialLinks.astro';
---

<Layout
  title="Vighnesh Raut - the man, the myth, the living legend himself"
  description={'Vighnesh is a Software Engineer who specializes in building exceptional web ' +
    'interfaces. He also loves to dabble with Physics and Mathematics. When bored, ' +
    'you can find him watching Netflix on his bed'}
>
  <main>
    <SocialLinks direction="horizontal" />
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
</style>
