---
import ContentLayout from '@/layouts/ContentLayout.astro';

const title = 'Vighnesh Raut | Projects';
const description =
  'Vighnesh builds a lot of amazing projects in his free time. He loves to play ' +
  'around with graphics programming and different frameworks';
---

<ContentLayout title={title} description={description}>
  <h1>Projects</h1>
</ContentLayout>
