---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro." description="bla">
  <main>
    <h1>Projects page</h1>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
</style>
