---
import H1 from '@/components/typography/h1.astro';
import ContentLayout from '@/layouts/ContentLayout.astro';
import FeaturedProjects from '@/components/projects/FeaturedProjects.astro';

const title = 'Vighnesh Raut | Projects';
const description =
  'Vighnesh builds a lot of amazing projects in his free time. He loves to play ' +
  'around with graphics programming and different frameworks';
---

<ContentLayout title={title} description={description}>
  <H1 class="h1" variant="h4">Projects</H1>
  <FeaturedProjects />
</ContentLayout>

<style>
  h1.h1 {
    margin-top: 2rem;
    padding-block-end: 0;
  }
</style>
