---
import ContentLayout from '@/layouts/ContentLayout.astro';
import { projectNavItems } from '@/components/navigation/navItems';
import ProjectsMasonry from '@/components/projects/ProjectsMasonry.astro';

const title = 'Vighnesh Raut | Projects';
const description =
  'Vighnesh builds a lot of amazing projects in his free time. He loves to play ' +
  'around with graphics programming and different frameworks';
---

<ContentLayout title={title} description={description} navItems={projectNavItems}>
  <h1 class="mt-40 text-3xl">Projects</h1>
  <ProjectsMasonry />
</ContentLayout>
