---
import { classes } from '@/utils';
import SectionListItem from './SectionListItem.astro';
---

<SectionListItem class="mb-3">
  <span class={classes('text-text2 font-light text-base sm:text-lg')}><slot /></span>
</SectionListItem>
