---
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<'li'> {}

const { ...props } = Astro.props;
---

<li {...props}>
  <slot />
</li>

<style lang="scss">
  li {
    padding-left: 1.5rem;
    position: relative;

    &::before {
      content: '▹';
      position: absolute;
      left: 0;
      top: 0.5em;

      color: var(--accent);
    }
  }
</style>
