---
import type { HTMLAttributes } from 'astro/types';
import CircleChevronRightIcon from '@/icons/CircleChevronRightIcon.astro';
import Span from '../typography/span.astro';

interface Props extends HTMLAttributes<'li'> {}

const { ...props } = Astro.props;
---

<li {...props}>
  <Span variant="inherit" class="chevron-icon">
    <CircleChevronRightIcon aria-hidden="true" />
  </Span>
  <slot />
</li>

<style lang="scss">
  li {
    position: relative;

    .chevron-icon {
      fill: var(--accent);
      margin-right: 1.5rem;
    }
  }
</style>
