---
import { hashTags, myPersonalizedEmail } from '@/constants';
import { classes } from '@/utils';
import Link from '../Link.svelte';
---

<section
  id={hashTags.homePage.contactMe}
  class={classes(`
    mx-auto
    my-40
    max-w-prose
    scroll-mt-8
    text-center
  `)}
>
  <p class="text-accent text-base">04. What's next?</p>
  <h2 class="mt-2 text-2xl md:text-3xl lg:text-4xl">Get In Touch</h2>
  <p
    class={classes(`
      mt-2 mx-auto max-w-xl 

      text-text2
      font-light

      text-base sm:text-xl
    `)}
  >
    My inbox is always open, whether you have a question or just to say hi. I will try my best to get back to you.
  </p>
  <Link
    linkType="primary-btn"
    href={`mailto:${myPersonalizedEmail}`}
    class={classes(`mt-4 focus-visible:outline-primary`)}
  >
    Say Hello
  </Link>
</section>
