---
import type { HTMLAttributes } from 'astro/types';
import CircleChevronRightIcon from '@/icons/CircleChevronRightIcon.astro';
import { classes } from '@/utils';

interface Props extends HTMLAttributes<'li'> {}

const { class: className, ...props } = Astro.props;
---

<li {...props} class={classes(className, `relative flex items-start gap-4 md:gap-6`)}>
  <span class="fill-accent mt-[0.25em]">
    <CircleChevronRightIcon aria-hidden="true" />
  </span>
  <slot />
</li>
