---
import { classes, projectNavItems } from "@/utils/index.ts";
import ContentLayout from "@/layouts/ContentLayout.astro";
import { PrivateContentWrapper } from "@/components/private/private_content_wrapper.tsx";

const title = "Vighnesh Raut | Private content";
const description = `A collection of private content.`;
---

<ContentLayout
  title={title}
  description={description}
  navItems={projectNavItems}
>
  <div
    class={classes(`mt-32 mb-12 max-w-xl mx-auto lg:max-w-[unset] scroll-mt-8`)}
  >
    <PrivateContentWrapper client:load />
  </div>
</ContentLayout>
