---
import { classes, projectNavItems } from "@/utils/index.ts";
import ContentLayout from "@/layouts/ContentLayout.astro";
import { PrivateCardsCollectionWrapper } from "@/components/private/private_cards_collection.tsx";

const title = "Vighnesh Raut | Private content";
const description = `Graphics programming projects built with HTML Canvas API`;
---

<ContentLayout
  title={title}
  description={description}
  navItems={projectNavItems}
>
  <div
    class={classes(`mt-32 mb-12 max-w-xl mx-auto lg:max-w-[unset] scroll-mt-8`)}
  >
    <PrivateCardsCollectionWrapper client:load />
  </div>
</ContentLayout>
