---
// Supports weights 100-900
import "@fontsource-variable/noto-serif-lao";

// Supports weights 100-900
import "@fontsource-variable/raleway";

import ContentLayout from "@/layouts/ContentLayout.astro";

import { ResumeContainer } from "@/components/resume/ResumeContainer";
import { Button } from "@/components/buttons/Button.tsx";
---

<ContentLayout title="Vighnesh's Resume">
  <div class="mt-32">
    <div class="w-full flex items-center flex-col gap-6">
      <div class="">
        <Button variant="primary" id="btn-download-resume">Download</Button>
      </div>
      <div id="resume-container">
        <ResumeContainer client:load />
      </div>
    </div>
  </div>
</ContentLayout>

<style>
  #resume-container {
    /* A4 size */
    width: 794px;
    height: 1123px;

    font-family: "Noto Serif Lao Variable", serif;
  }

  @media print {
    body {
      visibility: hidden;
      position: relative;
    }

    #resume-container {
      visibility: visible;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
</style>

<script>
  import { logAnalyticsEvent } from "@/utils/firebase_config.ts";

  logAnalyticsEvent("visit_resume");

  document
    .querySelector("#btn-download-resume")
    ?.addEventListener("click", () => {
      // Once download as pdf feature is implemented, update this code to download pdf directly
      // instead of opening the print dialog and expecting the user to download
      // https://github.com/whatwg/html/issues/7946
      print();
    });
</script>
