---
import ContentLayout from '@/layouts/ContentLayout.astro';
import Button from '@/components/Button.astro';
import { projectNavItems } from '@/components/navigation/navItems';
import { classes } from '@/utils';

const title = 'Vighnesh Raut | Project - SPL';
const description = `A Simple Programming Language (SPL) with syntax closer to the English Grammar`;
---

<ContentLayout title={title} description={description} navItems={projectNavItems}>
  <div class={classes(`mt-32 mb-12 max-w-lg mx-auto lg:max-w-[unset] scroll-mt-8`)}>
    <h1 class="text-3xl">SPL (Simple Programming Language)</h1>
    <div
      class={classes(`
        w-full mt-10 min-h-[30rem]
        flex flex-col lg:flex-row items-stretch gap-8 lg:gap-0
      `)}
    >
      <textarea
        id="code-editor"
        class={classes(`
          lg:w-7/12 min-h-[30rem]
          bg-backgroundDark
          z-[1]
          resize-none
        `)}
      >
        print("Hello world")
      </textarea>
      <aside class="min-h-[30rem] flex flex-grow flex-col items-center gap-5">
        <div>
          <Button variant="primary">SPL Main Menu</Button>
        </div>
        <div
          id="code-console"
          class={classes(`
            w-full
            flex-grow
            bg-backgroundLight
          `)}
        >
        </div>
      </aside>
    </div>
  </div>
</ContentLayout>

<script>
  const codeEditor = document.querySelector('#code-editor');
</script>
