.popover-content-root::before {
  --_triangle-size: var(--triangle-size, 10px);
  --_triangle-color: var(--triangle-color, currentColor);

  content: "";

  border: var(--_triangle-size) solid transparent;
}

.popover-content-root.popover-placement-top::before {
  border-bottom: 0;
  border-top: var(--_triangle-size) solid var(--_triangle-color);
}

.popover-content-root.popover-placement-right::before {
  border-left: 0;
  border-right: var(--_triangle-size) solid var(--_triangle-color);
}

.popover-content-root.popover-placement-bottom::before {
  border-top: 0;
  border-bottom: var(--_triangle-size) solid var(--_triangle-color);
}

.popover-content-root.popover-placement-left::before {
  border-right: 0;
  border-left: var(--_triangle-size) solid var(--_triangle-color);
}
