---
import { classes, externalLinks, projectNavItems } from "@/utils/index.ts";
import ContentLayout from "@/layouts/ContentLayout.astro";
import { GamesCollection } from "@/components/projects/games/GamesCollection.tsx";
import { Link } from "@/components/Link.tsx";

const title = "Vighnesh Raut | Games";
const description = `Games built with HTML Canvas API`;
---

<ContentLayout
  title={title}
  description={description}
  navItems={projectNavItems}
>
  <div
    class={classes(`mt-32 mb-12 max-w-xl mx-auto lg:max-w-[unset] scroll-mt-8`)}
  >
    <h1 class="text-3xl mb-8">Games</h1>
    <GamesCollection client:load />
  </div>
  <p slot="custom-source-code">
    See the <Link href={externalLinks.projects.games.sourceCode}
      >project's source code</Link
    >
  </p>
</ContentLayout>

<script>
  import { logAnalyticsEvent } from "@/utils/firebase_config.ts";

  logAnalyticsEvent("visit_projects_gamesHomepage");
</script>
