---
import { classes, myPersonalizedEmail } from '@/utils/index.ts';
---

<div
  class={classes(`
    fixed bottom-0 right-6 hidden 
    flex-col items-center sm:flex
    after:w-px after:h-20 after:my-0 after:mx-auto after:block after:bg-text
  `)}
>
  <a
    href={`mailto:${myPersonalizedEmail}`}
    class={classes(`
      mb-6
      inline-block 
      [writing-mode:vertical-lr]
      no-underline
      text-text
      [&:is(:hover,:focus)]:underline
      [&:is(:hover,:focus)]:text-accent
    `)}
  >
    {myPersonalizedEmail}
  </a>
</div>
