---
import ContentLayout from './ContentLayout.astro';

import { classes, type BlogFrontmatter } from '@/utils';

interface Props {
  frontmatter: BlogFrontmatter & {
    // path to blog post
    url: string;
  };
}

const { frontmatter } = Astro.props;

const date = new Date(frontmatter.creationDate ?? Date.now()).toLocaleDateString('en-us', {
  year: 'numeric',
  month: 'long',
  day: 'numeric',
});
---

<ContentLayout>
  <article
    class={classes(`
    mx-auto mt-32 
    max-w-prose

    blog-content
  `)}
  >
    {/* Heading */}
    <h1>
      {frontmatter.title ?? 'Heading 1'}
    </h1>

    {/* Creation date */}
    <p class="text-base text-text2 mb-12 italic">{date}</p>

    <slot />
  </article>
</ContentLayout>
