---
import type { HTMLAttributes } from 'astro/types';
import { classes, socialProfiles } from '@/utils';

export interface Props extends HTMLAttributes<'ul'> {
  direction: 'horizontal' | 'vertical';
}

const { direction, class: className, ...props } = Astro.props;
---

<ul
  class={classes(
    className,
    `flex gap-6 items-center list-none 
     ${direction == 'horizontal' ? 'flex-row' : 'flex-col'}
    `
  )}
  {...props}
>
  {
    socialProfiles.map((socialProfile) => (
      <li class="[font-size:0]">
        <a
          href={socialProfile.link}
          title={socialProfile.title}
          class={classes(`
            text-text fill-text [&:is(:hover,:focus)]:fill-accent inline-block
            [font-size:0]
          `)}
        >
          <socialProfile.Icon role="img" width="1.25rem" height="1.25rem" />
        </a>
      </li>
    ))
  }
</ul>
