---
import { classes } from "@/utils/classes.ts";
import SectionListItem from "./SectionListItem.astro";
---

<SectionListItem className="mb-3">
  <span class={classes("text-text2 font-light text-base sm:text-lg")}>
    <slot />
  </span>
</SectionListItem>
