---
import { classes, internalLinks } from "@/utils/index.ts";
import Link from "../Link.tsx";
---

<section
  class={classes(`
  min-h-[100svh]
  
  mx-auto
  max-w-prose
  scroll-mt-8

  flex flex-col
  justify-center items-start
`)}
>
  <h1>
    <span
      class={classes(`
        mb-2
        block
        text-accent
        font-normal
        text-xl
      `)}>Hi, my name is</span
    >
    <span
      class={classes(`
      block
      font-bold

      text-2xl sm:text-3xl md:text-4xl lg:text-5xl
    `)}
    >
      <span class="mb-2 block">Vighnesh Raut.</span>
      <span class="text-text2 mb-6 block">I build things, mostly for fun.</span>
    </span>
  </h1>
  <p
    class={classes(`
    block
    text-text2
    font-light

    text-base sm:text-lg md:text-xl
  `)}
  >
    I am a Software Engineer specializing in building exceptional digital
    experiences and beloved developer tools. Currently, I am focused on building
    accessible, developer-centered products for different causes.
  </p>
  <Link
    linkType="primary-btn"
    href={internalLinks.homePage.contactMe}
    class="focus-visible:outline-primary mt-6"
  >
    Get in Touch
  </Link>
  <br />
</section>
