---
import { CircleChevronRightIcon } from "@/icons/CircleChevronRightIcon.tsx";
import { classes } from "@/utils/classes.ts";

interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<li class={classes(className, `relative flex items-start gap-4 md:gap-6`)}>
  <span class="fill-accent mt-[0.25em]">
    <CircleChevronRightIcon aria-hidden="true" />
  </span>
  <slot />
</li>
