---
import { classes } from '@/utils/index.ts';

export interface Props {
  count: string;
  title: string;
}

const { count, title } = Astro.props;
---

<h2
  class={classes(`
  flex
  items-center

  text-xl sm:text-2xl md:text-3xl lg:text-4xl
  font-bold
  whitespace-nowrap 

  after:ml-4 
  after:w-full 
  after:max-w-xs 
  after:h-px 
  
  after:inline-block 
  after:bg-text4
`)}
>
  <span class="text-accent">{count}.</span>&nbsp;{title}
</h2>
