# Either set the following or make use of the vercel-axiom 
# integration which sets the environment variables automatically
AXIOM_DATASET=<dataset-name>
AXIOM_LOG_LEVEL=debug
AXIOM_TOKEN=...

GOOGLE_CLIENT_ID=...
GOOGLE_CLIENT_SECRET=...
MONGODB_URI=...
NEXTAUTH_SECRET="Charizard is the best and coolest pokemon ever ❤️"
NEXTAUTH_URL=https://vighnesh153.com
