---
import { graphicsProjectsMap } from '@vighnesh153/graphics-programming';

import { classes, verifyGraphicsProjectPath } from '@/utils';
import { projectNavItems } from '@/constants';
import ContentLayout from '@/layouts/ContentLayout.astro';
import ProjectRoot from '@/components/projects/graphics/sorting-visualizer/ProjectRoot.svelte';

const project = graphicsProjectsMap.sortingVisualizer;
verifyGraphicsProjectPath(project, Astro.request.url);

const title = `Vighnesh Raut | Graphics Projects - Sorting Visualizer`;
const description = `Using animations to visualize different sorting algorithms for fun`;
---

<ContentLayout title={title} description={description} navItems={projectNavItems} showFooter={false}>
  <div class={classes(`mt-28 mb-12 max-w-xl mx-auto lg:max-w-[unset] scroll-mt-8`)}>
    <h1 class="text-3xl mb-6 text-center">Sorting Visualizer</h1>
    <ProjectRoot client:load />
  </div>
</ContentLayout>
