---
import { graphicsProjectsMap } from '@vighnesh153/graphics-programming';

import { classes, verifyGraphicsProjectPath } from '@/utils';
import { projectNavItems } from '@/constants';
import ContentLayout from '@/layouts/ContentLayout.astro';
import ProjectRoot from '@/components/projects/graphics/tower-of-hanoi/ProjectRoot.svelte';

const project = graphicsProjectsMap.towerOfHanoi;
verifyGraphicsProjectPath(project, Astro.request.url);

const title = `Vighnesh Raut | Graphics Projects - Tower of Hanoi`;
const description =
  `Tower of Hanoi is a mathematical game or puzzle consisting ` +
  `of three rods and a number of disks of various diameters, which can slide onto any rod`;
---

<ContentLayout title={title} description={description} navItems={projectNavItems} showFooter={false}>
  <div class={classes(`mt-28 mb-12 max-w-xl mx-auto lg:max-w-[unset] scroll-mt-8`)}>
    <h1 class="text-3xl mb-6 text-center">Tower of Hanoi</h1>
    <ProjectRoot client:load />
  </div>
</ContentLayout>
