@use "tailwindcss";

@theme {
  --font-sans: Helvetica, Arial, sans-serif;

  --color-primary: rgb(144 116 220);
  --color-secondary: rgb(0 0 0);
  --color-accent: rgb(102 255 219);

  --color-background: rgb(10 24 46);
  --color-bg-dark: rgb(3 12 28);
  --color-bg-light: rgb(18 36 67);
  --color-bg-blend: rgb(19 44 63);

  --color-text: rgb(251, 226, 253);
  --color-text2: rgb(251, 226, 253, 80%);
  --color-text3: rgb(251, 226, 253, 60%);
  --color-text4: rgb(251, 226, 253, 30%);

  --z-px: 1;
  --z-mobile-stepper: 1000;
  --z-fab: 1050;
  --z-app-bar: 1100;
  --z-drawer: 1200;
  --z-modal: 1300;
  --z-snackbar: 1400;
  --z-tooltip: 1500;

  --animation-spin-slow: spin 3s linear infinite;
}

@utility regular-link {
  display: inline-block;
  position: relative;

  color: var(--color-accent);
  text-decoration-line: none;
  cursor: pointer;
}

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html {
    /* focus dashed outline */
    :is(a, button, input, select, textarea):focus-visible {
      outline-style: dashed;
      outline-width: 4px;
      outline-offset: 8px;
      outline-color: var(--color-accent);
    }
  }

  ::selection {
    background-color: var(--color-accent);
    color: var(--color-background);
  }
}

.regular-link,
.blog-content a {
  &::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;

    left: 0;
    bottom: -2px;

    background-color: currentColor;

    transition-property: width;
    transition-duration: var(--tw-duration, var(--default-transition-duration));
    transition-timing-function: var(--ease-in);
  }

  &:is(:hover, :focus-visible)::after {
    width: 100%;
  }
}

@layer components {
  .progress-bar {
    background-color: var(--color-bg-blend);
  }

  .progress-bar::-webkit-progress-bar {
    background-color: var(--color-bg-blend);
  }

  .progress-bar::-webkit-progress-value {
    background-color: var(--color-accent);
  }

  .progress-bar::-moz-progress-bar {
    background-color: var(--color-accent);
  }

  .blog-content {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-block: calc(var(--spacing) * 6);

      color: var(--color-text);
      font-weight: var(--font-weight-bold);
    }

    h1 {
      font-size: var(--text-5xl);
      line-height: var(--tw-leading, var(--text-5xl--line-height));
    }

    h2 {
      font-size: var(--text-4xl);
      line-height: var(--tw-leading, var(--text-4xl--line-height));
    }

    h3 {
      font-size: var(--text-3xl);
      line-height: var(--tw-leading, var(--text-3xl--line-height));
    }

    h4 {
      font-size: var(--text-2xl);
      line-height: var(--tw-leading, var(--text-2xl--line-height));
    }

    h5 {
      font-size: var(--text-xl);
      line-height: var(--tw-leading, var(--text-xl--line-height));
    }

    h6 {
      font-size: var(--text-base);
      line-height: var(--tw-leading, var(--text-base--line-height));
    }

    p {
      color: var(--color-text2);

      &:not(:last-child) {
        padding-bottom: calc(var(--spacing) * 4);
      }
    }

    a {
      @apply regular-link;
    }

    // direct children only
    & > ul,
    & > ol {
      margin-inline-start: calc(var(--spacing) * 4);
      margin-bottom: calc(var(--spacing) * 8);
    }

    // indirect children only. First level lists should have no padding
    & > * ul,
    & > * ol {
      margin-inline-start: calc(var(--spacing) * 10);
    }

    ul > li {
      list-style-type: disc;
    }

    ol > li {
      list-style-type: decimal;
      position: relative;
      counter-increment: decimal-list;

      &::before {
        --tw-content: counter(decimal-list) ".";
        content: var(--tw-content);
        position: absolute;

        padding-right: calc(var(--spacing) * 1.5);
        width: calc(var(--spacing) * 10);
        left: calc(var(--spacing) * -10);

        color: var(--color-accent);
        text-align: right;
        font-weight: var(--font-weight-bold);
      }
    }

    li {
      padding-block: calc(var(--spacing) * 0.5);
      color: var(--color-text2);
    }

    hr {
      margin-block: calc(var(--spacing) * 4);
      border-color: var(--color-text4);
    }
  }
}
