---
import type { HTMLAttributes } from 'astro/types';
import Link from '../Link.svelte';
import { defaultNavItems, type NavItem } from '@/utils/index.ts';

interface Props extends HTMLAttributes<'nav'> {
  navItems?: NavItem[];
}

const { navItems = defaultNavItems, ...props } = Astro.props;
---

<nav {...props}>
  <slot name="start" />
  {
    navItems.map((navItem) => (
      <Link href={navItem.link} rel="prefetch">
        <span class="text-lg">{navItem.text}</span>
      </Link>
    ))
  }
  <slot name="end" />
</nav>
