---
import { classes } from '@/utils';
import type { HTMLAttributes } from 'astro/types';

export interface Props extends HTMLAttributes<'button'> {
  variant?: 'primary' | 'secondary';
}

const { variant = 'secondary', class: className, ...props } = Astro.props;
---

<button class={classes(className, `${variant}-button`)} {...props}>
  <slot />
</button>
