---
import { classes } from '@/utils';
import SocialLinks from './SocialLinks.astro';
---

<div
  class={classes(
    `fixed bottom-0 left-6 right-auto hidden sm:block`,
    `after:w-px after:h-20 after:mt-6 after:mx-auto after:block after:bg-text`
  )}
>
  <SocialLinks direction="vertical" />
</div>
